doctype html
include @/@loadingio/bootstrap.ext/dist/index.pug
html
  head
    +css("assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("assets/lib/@loadingio/bootstrap.ext/main/index.min.css")
    +css("assets/lib/ldloader/main/index.min.css")
    +css("assets/lib/ldcover/dev/index.min.css")
    +css("css/index.css")
  body
    .ldcv.mini.left.bottom.right(ld="ldcv-mini"): .base: .inner.d-flex.px-3.py-2.align-items-center.bg-info.text-light
      .flex-grow-1.mr-2 By continuing to browse, you agree to our use of cookies.
      a.btn.btn-sm.btn-outline-light.mr-2(href="http://info.cern.ch") Not Agree
      .btn.btn-sm.btn-light(data-ldcv-set="") I agree

    .ldcv(ld="ldcv-timeout"): .base: .inner.p-4: .p-4
      h1 Timeout Popup
      p this is a popup that will be triggered after you open this website.

    .ldcv(ld="ldcv-hint"): .base: .inner.p-4: .p-4
      h1 Just a Hint
      p this is a hint with normal priority, which has the same priority with the timeout popup.

    template(ld="ldcv-template"): .ldcv: .base: .inner.p-4: .p-4
      h1 from template
      p This modal is created based on a template tag as root. Since browser only parses but not renders tags inside template, this can effectively reduce DOM element count, thus improve performance.
      br
      .btn.btn-primary.btn-lg(data-ldcv-set="") OK, Got it

    .ldcv(ld="ldcv-confirm"): .base.rwd: .inner.w-100.h-100.position-relative.p-4(style="padding-bottom:5em")
      .text-center: h1 Confirmed.
      br
      p We have saved your confirmation. You won't see this again until next time we update our terms and conditions.
      hr
      .btn.btn-lg.btn-primary(data-ldcv-set="") Dismiss

    .ldcv(ld="ldcv-get-value"): .base.w-640.rwd: .inner.w-100.h-100
      .d-flex.justify-content-around
        .p-4
          h2 resolve
          div: :md resolving `get` call by `data-ldcv-set` or `set` api call.
          .btn.btn-block.btn-lg.btn-outline-secondary(data-ldcv-set="ok") OK
        .p-4
          h2 reject
          div: :md rejecting `get` call by `data-ldcv-cancel` or `cancel` api call
          .btn.btn-block.btn-lg.btn-outline-secondary(data-ldcv-cancel) Cancel
      .pb-4.px-4.text-muted You can check developer console for actual output.

    .ldcv(ld="ldcv-tos"): .base.h-100.w-640.rwd: .inner.w-100.h-100.position-relative(style="padding-bottom:5em")
      .p-4.h-100(style="overflow:scroll")
        include tos.pug
      .position-absolute.w-100.p-4.bg-white.border-top(style="bottom:0;box-shadow:0 -3px 6px rgba(0,0,0,.1)")
        .d-flex
          a.btn.btn-outline-primary.mr-2.flex-grow-1(href="http://info.cern.ch") I don't agree
          .btn.btn-primary.ml-2.flex-grow-1(ld="agree") I agree

    .w-100.h-100.d-flex.align-items-center.justify-content-center.flex-column
      .m-4
        .btn.btn-lg.btn-primary(ld="show-editbox") Show Edit Box
        .ldcv.inline(ld="ldcv-editbox"): .base: .inner.p-2
          textarea.form-control.mb-2(rows="5")
          .btn.btn-primary(data-ldcv-set="") OK

      .btn.btn-lg.btn-primary.m-4(ld="show-tos") Show Term of Use
      .btn.btn-lg.btn-primary.m-4(ld="get-value") Get Value
      .btn.btn-lg.btn-primary.m-4(ld="show-hint") Show Hint
      .btn.btn-lg.btn-primary.m-4(ld="show-template") Show Template
    +script("assets/lib/ldview/main/index.min.js")
    +script("assets/lib/ldloader/main/index.min.js")
    +script("assets/lib/@loadingio/ldquery/main/ldq.min.js")
    +script("assets/lib/@loadingio/debounce.js/main/debounce.min.js")
    +script("assets/lib/ldcover/dev/index.min.js")
    +script("assets/lib/zmgr/main/index.min.js")
    +script("js/index.js")
