doctype html
include /../../static/assets/lib/ldui/pug/ldui.pug
html
  head
    +css("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    +css("assets/lib/ldui/ldui.min.css")
    +css("assets/lib/ldcv/ldcv.min.css")
    +css("css/index.css")
  body
    .ldcv: .base: .inner.card: .card-body: .vertical-center
      .text-center.w-100
        img(data-name="icon",src="assets/img/check.svg")
        h1(data-name="title") Good Job!
        p(data-name="desc") you clicked the button.
        br
        .btn.btn-lg.btn-primary.flex-grow-1.mr-2(data-name="confrim",data-ldcv-set="ok") OK
        .btn.btn-lg.btn-outline-dark.flex-grow-1(data-name="cancel",data-ldcv-set="") Cancel
    +script("assets/lib/ldui/ldui.min.js")
    +script("assets/lib/ldcv/ldcv.min.js")
    +script("js/index.js")
