doctype html
html
  head
    link(rel="stylesheet",type="text/css",href="dist/ldcv.css")
    script(src="dist/ldcv.js")
    link(rel="stylesheet",type="text/css",href="anikit.bundle.css")
    style(type="text/css").
      .ld { animation-duration: 1.0s!important }
  body
    h2 ldCover Demonstration
    .btn(onclick="show()") show
    .ldcv.ldcv-fade.md: .base: .inner(style="padding:20px")
      h3 Sample Popup
      hr
      button(data-ldcv-set="") Close
    script(src="index.js")
