doctype html
include /../../static/assets/lib/bootstrap.ldui/main/index.pug
html
  head
    base(href="..")
    +css("assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("assets/lib/bootstrap.ldui/main/bootstrap.ldui.min.css")
    +css("assets/lib/ldcover/dev/ldcv.min.css")
    +css("css/alert/index.css")
  body
    .m-4: .btn.btn-outline-dark(onclick="fire()") Fire
    .ldcv(data-name="root"): .base: .inner.card
      .closebtn.lg(style="display:none",data-name="closebtn",data-ldcv-set="")
      .card-body: .vertical-center: .text-center.w-100
        img(data-name="icon",src="assets/img/s/error.svg")
        .py-2
          h2.text-capitalize(data-name="title") Good Job!
          p(data-name="desc") you clicked the button.
        .py-2
          .btn.btn-lg.btn-primary.flex-grow-1.mr-2(data-name="yes",data-ldcv-set="yes") Yes
          .btn.btn-lg.btn-outline-dark.flex-grow-1.mr-2(style="display:none",data-name="no",data-ldcv-set="no") No
          .btn.btn-lg.btn-outline-dark.flex-grow-1(style="display:none",data-name="cancel",data-ldcv-set="") Cancel
        .d-none(data-name="footroot")
          hr
          p.my-0(data-name="foot")
    +script("assets/lib/ldview/main/ldview.min.js")
    +script("assets/lib/@loadingio/ldquery/main/ldq.min.js")
    +script("assets/lib/ldcover/dev/ldcv.min.js")
    +script("js/alert/icon.js")
    +script("js/alert/index.js")
